.message-container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-bottom: 10px;
}

.message-row {
    display: flex;
    align-items: center;
    background-color: #D3D0CB;
    padding: 20px;
    border-radius: 8px;
    gap: 40px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
} 

.message-row:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    background-color: #e5e3e0;
}

.message-status {
    color: #393E41;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    min-width: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.message-component {
    flex: 2;
    font-weight: bold;
    color: #393E41;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

.message-category {
    flex: 1;
    color: #393E41;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.3);
}

.message-expiry {
    flex: 1;
    color: #393E41;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
} 