body {
    background-color: #393E41;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100svw;
    height: 100svh;
    margin: 0;
}

.form-reg {
    background-color: #587B7F;
    margin: 8% auto;
    border-radius: 10px;
    padding: 100px;
}

.form-reg__header{
    text-align: center;
}

.input{
    display: flex;
    gap: 20px;
}

.input__span {
    font-size:48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}
.input__box1{
    height: 90px;
    width: 750px;
    border-radius: 10px;
    background-color: #D3D0CB;
    margin-top: 35px; 
    margin-left: 30px;
    border:none;
    font-size: 40px;
}
.input__box2    {
    height: 90px;
    width: 750px;
    border-radius: 10px;
    background-color: #D3D0CB;
    margin-top: 35px;
    border:none;
    font-size: 40px;
}
.btns {
    display: flex;
    justify-content: space-between;
}

.span-reg{
    font-size:48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: white;
}

.link-reg{
    font-size:48px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color:#E2C044;
}

.btn-create{
    width: 400px;
    height: 100px;
    border-radius: 10px;
    background-color:#393E41;
    border:none;
    margin-top: 65px;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: bold;
}
.btn-create:hover {
	background: #E2C044;
	color: white;
	box-shadow: inset 0 0 0 3px #393E41;
    transition: color 0.5s ease-in-out;
}

.btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: #E2C044;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.img1 {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

/* Опционально, добавим эффект при наведении */
.btn-back:hover {
    opacity: 0.9;
}
